@import url(https://fonts.googleapis.com/css?family=Sofia);
.container-fluid {
	
	margin-left: -100px;
}


.navbar-nav {
    float:none;
    display: block;
    text-align: center;
}
	
.navbar{
font-family:Sofia;
	position: absolute; top: 0; right:0; height:50px;

}

body{
  background-image:url("images/b2.jpg");
	
}


.hvr-underline-from-center  {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #4dff4d;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.selected {

	font-weight: bold;
}


.Yichong {
	font-family:Sofia;
	text-align:center;
  padding-top: 200px;
 
}

.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.Yi {

	margin-top: 50px;
    border:none;
    padding: 10px;
    background-color:transparent;
    border-radius: 20px;
    font-size: 40px;

}
.Yi:focus {
    color: black;
    outline:none;
}
.quote {
    border: 0.01px solid white;
    margin-top: -50px;
    height: 50px;
    border: 1px solid red;

}
.tada {
    animation-duration: 3s;
    animation-iteration-count: 3;
}
.dbp {

    border: 1px solid blue;
    position: absolute;
    height:550px;
    width:100%;
    top: 50px; left:0px;
    z-index:-1;
}





